.overlay {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 100;
    : 50%;
    top: 50%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: all 0.2s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    z-index: 101;
}

.overlay .closebtn {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 25px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
