<!doctype html>
<html id="home-body" lang="en" ng-app="sybuApp" ng-controller="BizNewsModuleController">
  <head>
    <meta charset="utf-8../"/>
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Explore Career Options"/>
    <meta name="keywords" content="Career, Students, Businesses"/>
    <title>Syzygy - Quick Business Headsup</title>
    <link rel="stylesheet" href="sybuapp.css" />
    <link rel="stylesheet" href="./core/infra/fs-overlay.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css" />
    <!--
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link href="bower_components/ionic/release/css/ionic.min.css" rel="stylesheet">
    -->
  </head>
  <body>
    <div class="news-btn-panel container" layout="row" layout-xs="column">
        <md-button class="menu" ng-click="toggleAccordion()" flex="15" aria-label="Toggle Accordian"><!-- hide-gt-sm>-->
          <md-icon md-svg-src="./menu.svg"></md-icon>
        </md-button>
        <a class="md-button md-raised" href="#!/latest" flex="35">Latest News</a>
        <a class="md-button md-raised" href="#!/history" flex="35">News History</a>
        <div layout="column" layout-align="center right">
        <md-button class="hover-effect" flex>Logout</md-button>
        </div>
    </div>
<!--
    <div class="container-fluid">
      <div class="row">
        <div class="sy-input-div col-sm-2">
            <input id="news-search" type="text" ng-model="$ctrl.query" class="phone-list-item news-search"
              ng-focus="active=true" ng-blur="active=false">
            <label for="news-search" ng-class="{active: active}">Search</label>
        </div>
        <div class="col-sm-8 view-container">
          <div ng-view class="view-frame"></div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
-->
    <div layout="column">
      <div layout="row" layout-wrap>
        <md-sidenav style="font:7px" md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" flex="20" md-component-id="news-accordian">
          <md-input-container style="font:7px" class="md-block" flex-gt-sm>
            <label style="font:7px">Search</label>
            <input type="text" ng-model="abc">
          </md-input-container>
        </md-sidenav>
        <md-content flex>
          <div ng-view class="view-frame"></div>
        </md-content>
      </div>
    </div>
    <!-- The overlay -->
    <div id="sy-profile-overlay" tabindex="0" class="overlay" sy-escape>

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content">
        <img src="./Students_Profile.png"></img>
      </div>

    </div>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-route/angular-route.min.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material/angular-material.min.js"></script>
    <script src="./sybu.module.js"></script>
    <script src="./sybu.config.js"></script>
    <script src="./core/core.module.js"></script>
    <script src="./core/news/news.module.js"></script>
    <script src="./core/news/news.service.js"></script>
    <script src="./core/infra/fs-overlay.module.js"></script>
    <script src="./core/infra/fs-overlay.directive.js"></script>
    <script src="./biz-news/biz-news.module.js"></script>
    <script src="./biz-news/biz-news.component.js"></script>
    <script src="./biz-news-hist/biz-news-hist.module.js"></script>
    <script src="./biz-news-hist/biz-news-hist.component.js"></script>
    <!--
    <script src="bower_components/ionic/release/js/ionic.bundle.min.js"></script>
    -->
  </body>
</html>
